#add{
    background-color: aquamarine;
    color: blue;
    font: 1em sans-serif;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hi{
    background-color: brown;
    color: aquamarine;
}